.ResultWindow {    
  background-color: #3b414d;
  color: white;
  text-align: right;
  height: 105px;
  border: 1px solid maroon;
}

.CurrentNumber {
  padding: 5px 15px 15px 15px;
  font-size: xx-large;
}

.FormulaWindow {
  padding: 15px 15px 0px 15px;
  font-size: large;
}
